{% load static %}

<html>
<head>
  <title>ConnectCarpool</title>
  <link rel="stylesheet" href="{% static 'main.css' %}"/>
  <script src="{% static 'main.js' %}"></script>
</head>
<body>
  <nav class="navbar">
    <a href="{% url 'rides:index' %}">Find Ride</a>
    <a href="{% url 'rides:create_rides' %}">Create Ride</a>
  </nav>
  {% block content %}
  <center>
    <h1>ConnectCarpool</h1>
    <img src="{% static 'Hrides_search.jpg' %}" width =450 height =400 alt="TheCarpool.com Company Logo"><br>
    <h2>Search For Ride</h2>
    <div class="main"> 
    </div> 
    <form action="{% url 'rides:index' %}" method="get" onsubmit="return checkForm(this);">
      <div>
        <label for="{{ ride_form.origination_city.id_for_label }}">Origination City:</label>
        {{ form.origination_city }}
      </div>
      <div>
        <label for="{{ ride_form.origination_state.id_for_label }}">Origination State:</label>
        {{ form.origination_state }}
      </div>
      <div>
        <label for="{{ ride_form.destination_city.id_for_label }}">Destination City:</label>
        {{ form.destination_city }}
      </div>
      <div>
        <label for="{{ ride_form.destination_state.id_for_label }}">Destination State:</label>
        {{ form.destination_state }}
      </div>
      <div>
        <label for="{{ ride_form.date.id_for_label }}">Date:</label>
        {{ form.date }}
      </div>
      <div>
        <label for="{{ ride_form.time.id_for_label }}"> Time:</label>
        {{ form.time }}
      </div>
      <div>
        <label for="{{ ride_form.seats.id_for_label }}"> Seats:</label>
        {{ form.seats }}
      </div>            
      <input type="submit" value="Find Ride"> 
    </form>
  </center>
  
  {% endblock %}
</body>
</html>



